# Filter, Drop Nulls, Dedupe
Use `data_08_v2.csv` and `data_18_v2.csv`. You should've created these data files in the previous section: *Renaming Columns*.

In [1]:
# import pandas and load datasets
import pandas as pd
df_08 = pd.read_csv("data_08_v2.csv")
df_18 = pd.read_csv("data_18_v2.csv")

In [2]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [3]:
# view dimensions of dataset
df_18.shape

(1611, 14)

In [5]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

## Filter by Certification Region

In [11]:
# Use .query() to filter datasets for rows following California standards
# You can user the cert_region column to filter
df_08 = df_08.query('cert_region=="CA"')
df_18 = df_18.query('cert_region=="CA"')

In [12]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [13]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [14]:
# drop certification region columns form both df_08 and df_18 datasets
# you no longer this column since all data should now 
# be filtered by California
df_08.drop(columns="cert_region",axis=1, inplace=True)
df_18.drop(columns="cert_region", axis=1, inplace=True)

/tmp/ipykernel_77/883296594.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08.drop(columns="cert_region",axis=1, inplace=True)
/tmp/ipykernel_77/883296594.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18.drop(columns="cert_region", axis=1, inplace=True)

In [15]:
df_08.shape

(1084, 13)

In [16]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values
As a reminder, you can use the `.isnull()` method to view how many null values are in each column.  
To count every null from every column, sum the values returned from `.isnull()` by using `.sum()` to return a total count.

In [18]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [19]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [20]:
# drop rows with any null values in both datasets
df_18.dropna(inplace=True)
df_08.dropna(inplace=True)

/tmp/ipykernel_77/1764486376.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18.dropna(inplace=True)
/tmp/ipykernel_77/1764486376.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08.dropna(inplace=True)

In [21]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [22]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data
Check if there are duplicate values in your DataFrames by using the `.duplicated()` function. Read more on the functionality [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html).

In [26]:
# print number of duplicates in 2008 and 2018 datasets
# remember to use .sum() on the retured values from .duplicated() to count all total duplicates.
print("Duplicated for 2008 ",df_08.duplicated().sum())
print("Duplicated for 2018 ",df_18.duplicated().sum())

Duplicated for 2008  23
Duplicated for 2018  3

In [30]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

/tmp/ipykernel_77/1305320245.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08.drop_duplicates(inplace=True)
/tmp/ipykernel_77/1305320245.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18.drop_duplicates(inplace=True)

In [32]:
# print number of duplicates again to confirm dedupe - should both be 0
print("Duplicated for 2008 after droping them ",df_08.duplicated().sum())
print("Duplicated for 2018 after droping them ",df_18.duplicated().sum())

Duplicated for 2008 after droping them  0
Duplicated for 2018 after droping them  0

In [33]:
# save progress for the next section
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)