# Inspecting Data Types
Use the space below to explore `data_08_v3.csv` and `data_18_v3.csv` to answer the quiz questions below regarding datatypes. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

Hint: Use `.unique()` for the columns in question to get a better understanding of what values are present. Read more [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html#).

In [7]:
# import pandas and read the two data csvs
import pandas as pd

fuel_08_df = pd.read_csv("data_08_v3.csv")
fuel_18_df = pd.read_csv("data_18_v3.csv")

In [8]:
# Find the data types in fuel_08_df
fuel_08_df.dtypes

model                    object
displ                   float64
cyl                      object
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [9]:
# Find the data types in fuel_18_df
fuel_18_df.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object

#### What is different between the two datasets for the `cyl` column? What would you change?

In [10]:
# Find the unique values in cyl for fuel_08_df
fuel_08_df.nunique()

model                   377
displ                    45
cyl                       8
trans                    13
drive                     2
fuel                      3
veh_class                 8
air_pollution_score       5
city_mpg                 28
hwy_mpg                  27
cmb_mpg                  27
greenhouse_gas_score     12
smartway                  2
dtype: int64

In [11]:
# Find the unique values in cyl for fuel_18_df
fuel_18_df.nunique()

model                   357
displ                    36
cyl                       7
trans                    26
drive                     2
fuel                      4
veh_class                 9
air_pollution_score       5
city_mpg                 56
hwy_mpg                  59
cmb_mpg                  56
greenhouse_gas_score     10
smartway                  3
dtype: int64

Use the information from these cells to answer the first quiz question.

#### What is different between the two datasets for the `air_pollution_score` column? What would you change?

In [26]:
# Find the unique values in air_pollution_score for fuel_08_df
fuel_08_df['air_pollution_score'].unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

In [27]:
# Find the unique values in air_pollution_score for fuel_18_df
fuel_18_df['air_pollution_score'].unique()

array([3, 1, 7, 5, 6])

Use the information from these cells to answer the second quiz question.

#### Look at the data types for all of the `*_mpg` columns for both datasets. What type are they? What would you change?

In [28]:
# Find the unique values in city_mpg for fuel_08_df to see an example of their data type
fuel_08_df['city_mpg'].unique()

array(['15', '17', '16', '18', '19', '20', '10', '11', '12', '13', '21',
       '22', '14', '23', '9', '8', '24', '34', '29', '25', '26', '40',
       '27', '28', '13/18', '35', '33', '48'], dtype=object)

In [29]:
# Find the unique values in city_mpg for fuel_18_df to see an example of their data type
fuel_18_df['city_mpg'].unique()

array(['20', '19', '23', '21', '24', '17', '26', '22', '25', '27', '12',
       '9', '28/66', '27/70', '27/66', '16', '25/62', '18', '14', '15',
       '13', '29', '31', '30', '28', '14/18', '49', '12/18', '12/17',
       '12/16', '11/16', '43/113', '14/19', '13/18', '43/102', '43', '33',
       '32', '15/21', '14/21', '20/59', '10', '17/24', '17/23', '28/63',
       '37', '35', '40', '51', '44', '48', '34', '9/13', '26/70', '26/60',
       '26/63'], dtype=object)

Use the information from these cells to answer the third quiz question.

#### What is different between the two datasets for the `greenhouse_gas_score` column? What would you change?

Note: according to the [EPA website](https://www.epa.gov/greenvehicles/greenhouse-gas-rating), greenhouse gas ratings should be integers.

In [30]:
# Find the unique values in greenhouse_gas_score for fuel_08_df
fuel_08_df['greenhouse_gas_score'].unique()

array(['4', '5', '6', '7', '0', '1', '3', '2', '8', '9', '10', '7/6'],
      dtype=object)

In [31]:
# Find the unique values in greenhouse_gas_score for fuel_18_df
fuel_18_df['greenhouse_gas_score'].unique()

array([ 5,  4,  6,  7,  2,  1, 10,  3,  9,  8])

Use the information from these cells to answer the fourth quiz question.