# Summation in Pandas and Numpy
Summation is an important measurement for exploring and finding answers where you may need to aggregate number totals. Explore this notebook using the `census_income_data.csv` dataset to answer a few interesting questions using summation. We'll utilize the groupby method to facilitate our methodology.

In order to sum values up in pandas, you can easily use the `.sum()` method on a DataFrame, Series, or even Group, to aggregate numerical values. And just a reminder, pandas uses Numpy under the hood, so calculating these metrics are extremely fast.

In [1]:
import pandas as pd

In [2]:
# Load the dataset
df_census = pd.read_csv('census_income_data.csv')

In [3]:
df_census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Using Sum on a DataFrame

#### How much capital was gained and lost in our dataset?
Let's use the `.sum()` method on our DataFrame to aggregate these totals at a high level.
Overall people made more money than they lost, that is a good thing!

In [4]:
df_census[["capital-gain", "capital-loss"]].sum()

capital-gain    35089324
capital-loss     2842700
dtype: int64

## Using Sum on a Group

#### What are the different workclass types?

In [5]:
df_census["workclass"].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

#### If we group by 'workclass', what are some interesting questions and answers?  
'Self-emp-inc' and 'State-gov' have similar hours-per-week, so let's use it as a way to compare similar groups.  
Notice their 'capital-gain' is completely different! It seems the Self-emp-inc group buys and sells assets more than the State-gov group.

In [6]:
df_census.groupby(by="workclass").sum(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,40887,177812394,10535,799903,107778,39724
Local-gov,87385,394822919,23111,1842264,229925,85777
Never-worked,144,1581927,52,0,0,199
Private,835158,4374974348,224230,20181687,1815878,913902
Self-emp-inc,51355,196395180,12429,5441274,173135,54481
Self-emp-not-inc,114268,446221558,25985,4792483,296361,112876
State-gov,51188,239009324,14766,910806,108067,50663
Without-pay,669,2439745,127,6830,0,458

#### Let's do a similar comparison for occupation

In [7]:
df_census["occupation"].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

#### Group by and take the sum for occupation
We will sort by 'hours-per-week' so it can make some comparisons easier.  
Top three have similar total hours worked, but vastly different 'capital-gain'!

In [9]:
df_census.groupby(by="occupation").sum(numeric_only=True).sort_values(by="hours-per-week", ascending=False)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
occupation,,,,,,
Exec-managerial,171460,749827375,46552,9200435,564517,182920
Prof-specialty,167743,767127979,53427,11288536,563617,175481
Craft-repair,159990,787551526,37345,2662353,362619,173405
Sales,136342,696733506,37594,4817377,358797,148851
Adm-clerical,139356,724003604,38128,1869750,229195,141595
Other-service,115159,621464850,28929,630339,126036,114342
Machine-op-inspct,75506,390471837,16992,658036,123536,81593
Transport-moving,64196,304015069,14001,783047,130125,71316
Handlers-cleaners,44067,280015679,11659,352875,62521,51988
Farming-fishing,40964,169169035,8557,586188,62697,46708
Tech-support,34357,178267224,10201,625057,91562,36593
Protective-serv,25281,131123930,6610,459556,50839,27823
Priv-house-serv,6217,29965021,1097,41698,3196,4900
Armed-Forces,272,1938833,91,0,1887,366

#### Let's do a similar comparison for marital status

In [10]:
df_census["marital-status"].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

#### Group by and take the sum for marital-status
Marital status is a little harder to compare with 'hours-per-week'.
It is not easily comparable, but still interesting to see the differences of each.

In [11]:
df_census.groupby(by="marital-status").sum(numeric_only=True).sort_values(by="hours-per-week", ascending=False)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
marital-status,,,,,,
Married-civ-spouse,647676,2796965277,154562,26430536,1833648,648234
Never-married,300737,2087279890,106429,4023093,559207,394630
Divorced,191234,825521798,44565,3236347,287021,183259
Separated,40338,211605434,9526,548958,59563,40284
Widowed,58563,172939929,9030,567074,79109,32749
Married-spouse-absent,16962,80733256,3891,273365,24152,16582
Married-AF-spouse,747,4327808,234,9951,0,946